{% extends 'admin_base.html'  %}
{% load static %}

{% block content %}
<!-- partial -->
<div class="main-panel">
    <div class="container">
        <br/>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        {% endfor %}
        {% endif %}
    </div>
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                  <i class="mdi mdi-home"></i>
                </span> Admin Panel
            </h3>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">
                        <span></span> Add Class <i
                            class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                    </li>
                </ul>
            </nav>
        </div>
        {% if account.admin == 0 %}
        <div class="row">
            <div class="col-md-12 stretch-card grid-margin">
                <div class="card bg-gradient-danger card-img-holder text-white">
                    <div class="card-body">
                        <img src="{% static 'Login/stylesheets/assets/images/dashboard/circle.svg' %}"
                             class="card-img-absolute" alt="circle-image"/>
                        <h4 class="font-weight-normal mb-3">You are not allowed to view this page! <i
                                class="mdi mdi-block-helper mdi-24px float-right"></i></h4>

                        <h2 class="mb-5">RESTRICTED PAGE</h2>
                        <h6 class="card-text">Only admins are allowed here!</h6>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid d-flex justify-content-between">
                    <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright © FaceRecognition By Murunga 2024</span>
                </div>
            </footer>
        </div>

        {% else %}
        <div class="col-md-12 stretch-card grid-margin">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">New Class</h2>
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="first_name" class="form-label">Class Name</label>
                                    <input type="text" class="form-control" id="first_name" name="class_name" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="last_name" class="form-label">Class Code:</label>
                                    <input type="text" class="form-control" id="last_name" name="code" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="class-select" class="form-label">Lecturer:</label>
                            <select id="class-select" class="form-select" aria-label="Default select example"
                                    name="lec_id" style="color: black;">
                                {% for lecturer in lecturers %}
                                <option selected value="{{lecturer.id}}">{{ lecturer.user.first_name }} {{ lecturer.user.last_name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <br>


                        <button type="submit" class="btn btn-info">Create Class</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<script>
    // Add an event listener for the file input element
    document.getElementById('image').addEventListener('change', function (event) {
        // Get the selected file
        var file = event.target.files[0];
        // Create a new FileReader object
        var reader = new FileReader();
        // Set the onload event handler for the FileReader
        reader.onload = function (event) {
            // Get the preview image element
            var previewImage = document.getElementById('preview-image');
            previewImage.hidden = false; // Make the image visible
            previewImage.src = event.target.result;
        };
        // Read the selected file as a data URL
        reader.readAsDataURL(file);
    });
</script>

{% endblock %}